*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    color: red;
    padding: 20px;
}
.container{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.col-sm-6{
    background: linear-gradient(#ee7642, #ff8681, #ffa0b7, #febfdf, #f6ddf7, #e4e8ff, #d7f3ff, #d7fbff, #a0fffa, #6bffe1, #4effb6, #5ffb7a);
    padding: 20px;
    border-radius: 20px;
}